
@media only screen and (min-width: 800px) {
  body {
    max-width: 960px;
    margin: 0 auto;
    float: left;
  }

  header {
    height: 100px;
    width: 100%;
  }

  main {
    width: 100%;
  }

  nav {
    height: 600px;
    width: 20.833333%;
    float: left;
  }

  #c, #d {
    height: 200px;
    width: 39.5833335%;
    float: left;
  }

  #e, #f, #g, #h {
    height: 250px;
    width: 19.78%;
    float: left;
  }

  footer {
    height: 150px;
    width: 79.1666667%;
    float: left;
  }

}
